<template>
    <section>
      <h2>{{ teamName }}</h2>
      <ul>
        <user-item
          v-for="member in members"
          :key="member.id"
          :name="member.fullName"
          :role="member.role"
        ></user-item>
      </ul>
      <router-link  to="/teams/t2"> Go to team 2</router-link>
    </section>
  </template>
  
  <script>
  import UserItem from '../users/UserItem.vue';
  
  export default {
    inject:['users','teams'],
    components: {
      UserItem
    },
    props:['teamId'],
    data() {
      return {
        teamName:'',
        members: [],
      };
    },
    methods: {
      loadTeamMembers(teamId){
          // chemin de la route
          //this.$route.path
          // params de la route
          const selectedTeam =this.teams.find(team => team.id === teamId);
          const members = selectedTeam.members;
          const selectedMembers = []
          for(const member of members){
            const selectedusers = this.users.find(user => user.id ===member);
            selectedMembers.push(selectedusers);
          }
          this.members = selectedMembers;
          this.teamName = selectedTeam.name;
      }
    },
// Its instancied at the loading of the component but after, the differents parameters are not relaoding
    created(){
      this.loadTeamMembers(this.teamId);
      console.log(this.$route.query,this.sort);
    },
    beforeRouteUpdate(to,from,next){
      console.log('TeamsMembers cmp beforeEnter');
      console.log(to,from);
      //this.loadTeamMembers(to.params.temaI);
      next();
    },
    // It's watched teh different route
    watch: {
      teamId(newId){
        this.loadTeamMembers(newId);
      }
    }
  };
  </script>
  
  <style scoped>
  section {
    margin: 2rem auto;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    border-radius: 12px;
  }
  
  h2 {
    margin: 0.5rem 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  </style>